<%= form_with(model: @room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :物件名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :賃料 %>
    <%= form.text_field :price %>円
  </div>

  <div class="field">
    <%= form.label :住所 %>
    <%= form.text_field :addres %>
  </div>

  <div class="field">
    <%= form.label :築年数 %>
    <%= form.text_field :old %>年
  </div>

  <div class="field">
    <%= form.label :備考 %>
    <%= form.text_area :content %>
  </div>
  <hr>
    <% n = 0 %>
    <%= form.fields_for :stations do | station | %>
      <h3>最寄駅<%= n += 1 %></h3>
      <div class="field">
        <%= station.label :路線名 %>
        <%= station.text_field :route_name %>
      </div>
      <div class="field">
        <%= station.label :駅名 %>
        <%= station.text_field :station_name %>
      </div>
      <div class="field">
        <%= station.label :徒歩分数 %>
        <%= station.text_field :walking_time %>分
      </div>      
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
